<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if (ngs.length > 0) { %>
                    <% console.log(ngs.length) %>
                    <div class="grid">
                        <% for (let ngo of ngs) { %>
                            <article class="card product-item">
                                <div class="card__header">
                                    <h1 class="product__title">
                                        <%= ngo.city %>
                                    </h1>
                                </div>
                                
                            </article>
                            <% } %>
                    </div>
                    <% } else { %>
                        <h1>No Products Found!</h1>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>
            <script src="/js/admin.js"></script>